<!DOCTYPE html>
<html lang="en">
    

<head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Bulkit :: Pricing</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="assets/css/bulma.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="assets/css/core_green.css">

    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-medium is-theme-primary">
            
            <nav class="navbar navbar-wrapper navbar-fade navbar-light is-transparent">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img class="light-logo" src="assets/images/logos/bulkit-white.svg" alt="">
                            <img class="dark-logo" src="assets/images/logos/bulkit-green.svg" alt="">
                        </a>
            
                       
            
                        <!-- Responsive toggle -->
                        <div class="custom-burger" data-target="">
                            <a id="" class="responsive-btn" href="javascript:void(0);">
                                <span class="menu-toggle">	
                                    <span class="icon-box-toggle"> 	
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <!-- /Responsive toggle -->
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/features">
                                Features
                            </a>
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/pricing">
                                Pricing
                            </a>
                            <!-- Navbar item -->
                            <a class="navbar-item is-slide" href="/services">
                                Services
                            </a>
                            <!-- Navbar item -->
                            <% if(!user){ %>
                                <a class="navbar-item is-slide" href="/login">
                                    Login
                                </a>
                                <% } else{ %>
                                    <a class="navbar-item is-slide" href="/register">
                                        register
                                    </a>
                                <% } %> 
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                    <% if(!user){ %>
                                        <a id="#signup-btn" href="/signup" class="button button-signup btn-outlined is-bold btn-align light-btn raised">
                                            Free Trial
                                        </a>
                                    <% } else{ %> 
                                        <a id="#signup-btn" href="/dashboard" class="button button-signup btn-outlined is-bold btn-align light-btn raised">
                                            Dashboard
                                        </a> 
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body pricing-hero">
                <div class="container">
                    <div class="columns is-vcentered">
                        <div class="column is-6 is-offset-3 header-caption has-text-centered pt-60 pb-60">
                            <h1 class="title is-1 clean-title light-text">
                                Check out our Plans.
                            </h1>
                            <h2 class="subtitle is-5 light-text pt-10 pb-10">
                                Pick the right plan for you.
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        <!-- /Hero and nav -->
        
        <section class="section section-light-grey is-skewed-sm clean-pricing">
            <div class="container has-text-centered is-reverse-skewed-sm">
                <!-- Pricing tables -->
                <div class="columns is-vcentered giant-pb">
                    <div class="column is-5 has-text-left">
                        <!-- Period selector -->
                        <div class="period-select">
                            <span class="clean-text is-active">Monthly</span>
                            <span class="clean-text">Annualy</span>
                        </div>
                        <!-- /Period selector -->
                        <h2 class="title theme clean-text pb-10 pt-10 is-2 no-margin">
                            Choose a plan.
                        </h2>
                        <!-- Plan type switcher -->
                        <div class="plan-controls">
                            <span id="show-freelance" class="clean-text is-active">Freelancer</span>
                            <span id="show-business" class="clean-text">Business</span>
                        </div>
                        <!-- /Plan type switcher -->
                        <div class="subtitle is-6 mt-20">
                            Wether you are a dynamic startup or a software company, Bulkit will answer your business needs.
                        </div>
                        <br>
                    </div>
                    <div class="column is-8">
                        <!-- Freelance pricing -->
                        <div id="freelance-pricing" class="side-pricing">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <!-- Pricing table features -->
                                    <div class="pricing-card animated preFadeInLeft fadeInLeft">
                                        <div class="popular"><i class="im im-icon-Crown-2"></i></div>
                                        <div class="inner">
                                            <h6 class="plan-name">Free</h6>
                                            <div class="plan-price">
                                                <small class="currency">$</small>
                                                <div class="month-price animated preFadeInUp fadeInUp">
                                                    <span>0</span>
                                                    <small>/ month</small>
                                                </div>
                                                <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                    <span>0</span>
                                                    <small>/ year</small>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><b>15</b> Invoices per month</li>
                                                <li><b>2 Gb</b> Storage</li>
                                                <li><b>1</b> User account</li>
                                                <li><b>20</b> Clients</li>
                                            </ul>
                                            <a href="#" class="button button-cta primary-btn raised">Sign up</a>
                                        </div>
                                    </div>
                                    <!-- /Pricing table featured -->
                                </div>
                                <div class="column">
                                    <!-- Pricing table transparent -->
                                    <div class="pricing-card transparent animated preFadeInLeft fadeInLeft delay-1">
                                        <div class="inner">
                                            <h6 class="plan-name">Freelancer</h6>
                                            <div class="plan-price">
                                                <small class="currency">$</small>
                                                <div class="month-price animated preFadeInUp fadeInUp">
                                                    <span>15</span>
                                                    <small>/ month</small>
                                                </div>
                                                <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                    <span>180</span>
                                                    <small>/ year</small>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><b>60</b> Invoices per month</li>
                                                <li><b>15 Gb</b> Storage</li>
                                                <li><b>1</b> User account</li>
                                                <li><b>∞</b> Clients</li>
                                            </ul>
                                            <a href="#" class="button button-cta primary-btn btn-outlined is-bold">Sign up</a>
                                        </div>
                                    </div>
                                    <!-- /Pricing table transparent -->
                                </div>
                            </div>
                        </div>
                        <!-- /Freelance pricing -->
        
                        <!-- Business pricing -->
                        <div id="business-pricing" class="side-pricing is-hidden">
                            <div class="columns is-vcentered">
                                <div class="column">
                                    <!-- Pricing table featured -->
                                    <div class="pricing-card raised animated preFadeInLeft fadeInLeft">
                                        <div class="popular"><i class="im im-icon-Crown-2"></i></div>
                                        <div class="inner">
                                            <h6 class="plan-name">Pro</h6>
                                            <div class="plan-price">
                                                <small class="currency">$</small>
                                                <div class="month-price animated preFadeInUp fadeInUp">
                                                    <span>49</span>
                                                    <small>/ month</small>
                                                </div>
                                                <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                    <span>588</span>
                                                    <small>/ year</small>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><b>500 +</b> Invoices per month</li>
                                                <li><b>50 Gb</b> Storage</li>
                                                <li><b>10</b> User accounts</li>
                                                <li><b>∞</b> Clients</li>
                                            </ul>
                                            <a href="#" class="button button-cta btn-align primary-btn raised">Sign up</a>
                                        </div>
                                    </div>
                                    <!-- /Pricing table featured -->
                                </div>
                                <div class="column">
                                    <!-- Pricing table transparent -->
                                    <div class="pricing-card transparent animated preFadeInLeft fadeInLeft delay-1">
                                        <div class="inner">
                                            <h6 class="plan-name">Business</h6>
                                            <div class="plan-price">
                                                <small class="currency">$</small>
                                                <div class="month-price animated preFadeInUp fadeInUp">
                                                    <span>125</span>
                                                    <small>/ month</small>
                                                </div>
                                                <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                    <span>1500</span>
                                                    <small>/ year</small>
                                                </div>
                                            </div>
                                            <ul>
                                                <li><b>2000 +</b> Invoices per month</li>
                                                <li><b>200 Gb</b> Storage</li>
                                                <li><b>30 +</b> User account</li>
                                                <li><b>∞</b> Clients</li>
                                            </ul>
                                            <a href="#" class="button button-cta primary-btn btn-outlined is-bold">Sign up</a>
                                        </div>
                                    </div>
                                    <!-- /Pricing table transparent -->
                                </div>
                            </div>
                        </div>
                        <!-- /Business pricing -->
                    </div>
        
                </div>
                <!-- /Pricing tables -->
            </div>
        </section>
        
        <!-- FAQ -->
        <section class="section is-medium">
            <div class="container">
                <h2 class="title section-subtitle clean-text color-primary has-text-centered is-2">
                    Frequent questions
                </h2>
        
                <div class="content-wrapper">
                    <div class="columns">
                        <div class="column is-4 is-offset-2">
                            <div class="content">
                                <p class="text-bold color-primary">1. How do i get started?</p>
                                <p>Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc regione tibique te. Et sit alii vero harum, ne his viderer consectetuer.</p>
                            </div>
                            <div class="content">
                                <p class="text-bold color-primary">3. Where can i get training?</p>
                                <p>Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc regione tibique te. Et sit alii vero harum, ne his viderer consectetuer.</p>
                            </div>
                            <div class="content">
                                <p class="text-bold color-primary">5. Are updates mandatory?</p>
                                <p>Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc regione tibique te. Et sit alii vero harum, ne his viderer consectetuer.</p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="content">
                                <p class="text-bold color-primary">2. How can i add people to my team?</p>
                                <p>Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc regione tibique te. Et sit alii vero harum, ne his viderer consectetuer.</p>
                            </div>
                            <div class="content">
                                <p class="text-bold color-primary">4. Do you have a refund policy?</p>
                                <p>Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc regione tibique te. Et sit alii vero harum, ne his viderer consectetuer.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /FAQ -->
        
        <!-- Contact form -->
        <section class="section is-medium section-feature-grey">
            <div class="container">
                <h2 class="title section-subtitle clean-text dark-text has-text-centered is-2">
                    Have an inquiry ?
                </h2>
                <h2 class="subtitle clean-text has-text-centered is-5 pt-10 pb-10">Drop us a line or two</h2>
        
                <div class="content-wrapper">
                    <form>
                        <div class="columns">
                            <div class="column is-8 is-offset-2">
                                <div class="columns is-vcentered">
                                    <div class="column is-4">
                                        <div class="control-material is-primary">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Name *</label>
                                        </div>
                                    </div>
                                    <div class="column is-4">
                                        <div class="control-material is-primary">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email *</label>
                                        </div>
                                    </div>
                                    <div class="column is-4">
                                        <div class="control-material is-primary">      
                                            <input class="material-input" type="text" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Company</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-material is-primary">  
                                    <textarea rows="5"></textarea>
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Message *</label>
                                </div>
                                <div class="has-text-centered">
                                    <button type="submit" class="button button-cta btn-align primary-btn raised no-lh">Send message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /Contact form -->
        
        <!-- Side footer -->
        <footer class="footer footer-light-left">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-6">
                        <div class="mb-20">
                            <img class="small-footer-logo" src="assets/images/logos/bulkit-logo-g.png" alt="">
                        </div>
                        <div>
                        
                            <nav class="level is-mobile mt-20">
                                <div class="level-left level-social">
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-facebook"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-twitter"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-linkedin"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-dribbble"></i></span>
                                    </a>
                                    <a href="#" class="level-item">
                                        <span class="icon"><i class="fa fa-github"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="column">
                        <div class="footer-nav-right">
                            <a class="footer-nav-link" href="#">Home</a>
                            <a class="footer-nav-link" href="landing-v1-features.html">Features</a>
                            <a class="footer-nav-link" href="landing-v1-pricing.html">Pricing</a>
                            <a class="footer-nav-link" href="landing-v1-login.html">Sign in</a>
                            <a class="footer-nav-link" href="landing-v1-signup.html">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Side footer -->        <!-- Side navigation -->
        <div class="side-navigation-menu">
            <!-- Categories menu -->
            <div class="category-menu-wrapper">
                <!-- Menu -->
                <ul class="categories">
                    <li class="square-logo"><img src="assets/images/logos/square-white.svg" alt=""></li>
                    <li class="category-link is-active" data-navigation-menu="demo-pages"><i class="sl sl-icon-layers"></i></li>
                    <li class="category-link" data-navigation-menu="components"><i class="sl sl-icon-grid"></i></li>
                    <li class="category-link" data-navigation-menu="extras"><i class="sl sl-icon-present"></i></li>
                </ul>
                <!-- Menu -->
        
                <ul class="author">
                    <li>
                        <!-- Theme author -->
                        <a href="#" target="_blank">
                            <img class="main-menu-author" src="assets/images/logos/cssninja.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /Categories menu -->
        
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="assets/js/landingv1.js"></script>
        <script src="assets/js/auth.js"></script>
        <script src="assets/js/main.js"></script>    </body>  


</html>
