<!DOCTYPE html>
<html lang="en">
    

<head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Bulkit :: Sign up</title>
        <link rel="icon" type="image/png" href="assets/images/favicon.png" />

        <!--Core CSS -->
        <link rel="stylesheet" href="assets/css/bulma.css">
        <link rel="stylesheet" href="assets/css/app.css">
        <link rel="stylesheet" href="assets/css/core_green.css">
        <style>
                .alert{
                    font-family: monospace;
                    margin: 2px auto;
                    margin-left: -2px;
                    background: rgb(160, 28, 28);
                    color: red;
                    padding: 4px;
                    width: 30vw;
                    border: 1px solid rgb(122, 23, 23);
                    border-radius: 5px;
                    font-size: 20px;
                }
              </style>

    </head>
    <body>
        <div class="pageloader"></div>
        <div class="infraloader is-active"></div>        
        <!-- Hero and nav -->
        <div class="hero is-light-grey is-fullheight">
            
            <nav class="navbar navbar-wrapper navbar-default navbar-fade is-semisolid">
                <div class="container">
                    <!-- Brand -->
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="assets/images/logos/bulkit-green.svg" alt="">
                        </a>
            
                     
            
                        <!-- Responsive toggle -->
                        <div class="custom-burger" data-target="">
                            <a id="" class="responsive-btn" href="javascript:void(0);">
                                <span class="menu-toggle">	
                                    <span class="icon-box-toggle"> 	
                                        <span class="rotate">
                                            <i class="icon-line-top"></i>
                                            <i class="icon-line-center"></i>
                                            <i class="icon-line-bottom"></i> 
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <!-- /Responsive toggle -->
                    </div>
            
                    <!-- Navbar menu -->
                    <div class="navbar-menu">
                        <!-- Navbar Start -->
                        <div class="navbar-start">
            
                        </div>
            
                        <!-- Navbar end -->
                        <div class="navbar-end">
                            <!-- Signup button -->
                            <div class="navbar-item">
                                <a id="#signup-btn" href="/signup" class="button button-cta btn-outlined is-bold btn-align primary-btn raised">
                                    Free Trial
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Hero image -->
            <div id="main-hero" class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered">
                            
                        <div class="column is-5 is-offset-1 is-hidden-mobile">
                            <div class="flex-card clean-signup-info padding-20">
                                <h2 class="has-text-centered clean-text">Get started</h2>
                                <div class="feature">
                                    <img src="assets/images/illustrations/icons/landing-v1/business-ready.svg" alt="">
                                    <div class="feature-text">Lorem ipsum dolor sit amet, cu has blandit intellegat, qui ludus consequuntur ad.</div>
                                </div>
                                <div class="feature">
                                    <img src="assets/images/illustrations/icons/landing-v1/credit-card.svg" alt="">
                                    <div class="feature-text">Lorem ipsum dolor sit amet, cu has blandit intellegat, qui ludus consequuntur ad.</div>
                                </div>
                                <div class="feature">
                                    <img src="assets/images/illustrations/icons/landing-v1/components.svg" alt="">
                                    <div class="feature-text">Lorem ipsum dolor sit amet, cu has blandit intellegat, qui ludus consequuntur ad.</div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                                <% if(error && error.length > 0){ %>
                                    <h4 class="alert"><%= error[0].message %></h4>
                                    <% } %>
                            <div id="signup-card" class="animated preFadeInLeft fadeInLeft">
                                <div class="flex-card clean-signup-card">
                                    <h2 class="has-text-centered">Sign up</h2>
                                    <form action="/signup" METHOD="POST">
                                        <div class="control-material is-primary">      
                                            <input name="username" class="material-input" type="email" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Email *</label>
                                        </div>
                                        <div class="control-material is-primary">      
                                            <input name="password" class="material-input" type="password" required>
                                            <span class="material-highlight"></span>
                                            <span class="bar"></span>
                                            <label>Password *</label>
                                        </div>
        
                                        <div class="mt-20">
                                            <button class="button button-cta btn-align primary-btn is-fullwidth raised no-lh">Get started now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Hero image -->
        </div>
        
        
        <!-- Side navigation -->
        <div class="side-navigation-menu">
            <!-- Categories menu -->
            <div class="category-menu-wrapper">
                <!-- Menu -->
                <ul class="categories">
                    <li class="square-logo"><img src="assets/images/logos/square-white.svg" alt=""></li>
                    <li class="category-link is-active" data-navigation-menu="demo-pages"><i class="sl sl-icon-layers"></i></li>
                    <li class="category-link" data-navigation-menu="components"><i class="sl sl-icon-grid"></i></li>
                    <li class="category-link" data-navigation-menu="extras"><i class="sl sl-icon-present"></i></li>
                </ul>
                <!-- Menu -->
        
                <ul class="author">
                    <li>
                        <!-- Theme author -->
                        <a href="#" target="_blank">
                            <img class="main-menu-author" src="assets/images/logos/cssninja.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /Categories menu -->
        
        <div id="backtotop"><a href="#"></a></div>        <!-- Concatenated jQuery and plugins -->
        <script src="assets/js/app.js"></script>
        
        <!-- Bulkit js -->
        <script src="assets/js/landingv1.js"></script>
        <script src="assets/js/auth.js"></script>
        <script src="assets/js/main.js"></script>    </body>  


</html>
